<html>
    <body>
        <h1>
            Books
        </h1>
 

 <form action="/action_page.php">
  <div class="form-group">
    <label for="text">Book Name:</label>
    <input type="text" class="form-control" id="text">
  </div>
  <div class="form-group">
    <label for="text">Author Name</label>
    <input type="text" class="form-control" id="text">
  </div>
  
  <button type="text" class="btn btn-default">search books </button>
</form> 
