<html>
    <body>
        <h1>
           order
        </h1>
 

 <form action="/action_page.php">
  <div class="form-group">
    <label for="email">user Name</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Book Name</label>
    <input type="password" class="form-control" id="pwd">
  </div>
<div class="form-group">
    <label for="email">payment amount</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Address</label>
    <input type="password" class="form-control" id="pwd">

  </div>
  
  <button type="submit" class="btn btn-default">Order place</button>
</form> 
