<html>
    <body>
        <h1>
            search books
        </h1>
 

 <form action="/action_page.php">
  <div class="form-group">
    <label for="email">Book Name:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Author Name:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  
  <button type="submit" class="btn btn-default"> Search </button>
</form> 
